<%= render partial: "shared/navbar"%>
<div class="container mt-5"> 
  <div class="success-notice">
    <h3>Congratulations, your payment was successful!</h3>

    <%= link_to "Back to listings", listings_path %>
  </div>
</div>